.register-container {
    width: 95%;
    margin: 20px auto;
    display: flex;
    justify-content: center;

    .register-box {
        background-color: var(--component-background);
        padding: 24px;
        text-align: center;
    }

    .register-text {
        font-size: 20px;
        color: var(--text-primary);
        margin-bottom: 16px;
    }

    .btn {
        background-color: var(--secondary);
        color: var(--text-dark-bg);
        padding: 10px 16px;
        border: none;
        cursor: pointer;
        font-weight: 600;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: var(--primary);
    }
}