.logout-button {
  background-color: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  color: var(--text-primary);
}

.logout-icon {
  width: 24px;
  height: 24px;
  color: var(--text-primary);
  transition: transform 0.3s;
}

.logout-text {
  position: absolute;
  left: -50px;
  opacity: 0;
  color: var(--text-primary);
  padding: 5px 10px;
  font-size: 17px;
  white-space: nowrap;
  transition: opacity 0.3s, left 0.3s;
}

.logout-button:hover .logout-text {
  opacity: 1;
  left: -95px;
}

.logout-button:hover .logout-icon {
  transform: scale(-1);
}