.user-menu {
  position: relative;
  margin-left: auto;
  margin-right: 20px;
}

.user-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--text-primary);
}

.user-icon img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.menu-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: var(--component-background);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  height: 300px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menu-dropdown p {
  margin: 0 80px 0px 80px;
  font-weight: 500;
  color: var(--text-primary);
}

.logout-wrapper {
  display: flex;
  justify-content: right;
  width: 100%;
}

.user-avatar-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--background);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  overflow: hidden;
}

.user-avatar {
  cursor: pointer;
  color: var(--text-primary);
  transition: color 0.3s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-greeting {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  white-space: nowrap;
}

.edit-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--component-background);
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  cursor: pointer;
  color: var(--text-primary);
}