* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    text-decoration: none;
    list-style: none;
    font: inherit;
    outline: none;
    transition: background 0.3s, color 0.3s;
}

:root {
    /* Modo Claro */
    --primary: #2A4D69;
    --secondary: #4B86B4;
    --background: #d5d5d5;
    --component-background: #ffffff;
    --text-primary: #333333;
    --text-dark-bg: #ffffff;
    --highlight: #F4A261;
}

[data-theme="dark"] {
    /* Modo Oscuro */
    --primary: #1B2A41;
    --secondary: #30475E;
    --background: #121212;
    --component-background: #323232;
    --text-primary: #E0E0E0;
    --text-dark-bg: #F1F1F1;
    --highlight: #E76F51;
}

.principal {
    background-color: var(--background);
    margin-left: 250px;
    padding: 50px;
    height: 100%;
    min-height: 100vh;
}
